{
  "extends": ["airbnb-base", "plugin:react/all" ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-param-reassign": [2, {"props": false}],
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-underscore-dangle": 0,
    "no-magic-numbers": 1,
    "sort-imports": 0,
    "sort-keys": 0,
    "react/jsx-indent": [2, 2],
    "react/jsx-max-props-per-line": [2, { "maximum": 4, "when": "multiline" }],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-no-literals": 0,
    "react/jsx-sort-props": 0
  },
  "plugins": [ "react" ]
}
